# Copyright (C) 2019-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2019-present Sven Greb <development@svengreb.de>
#
# Project:    Arctic Landscape
# Repository: https://github.com/arcticicestudio/arctic-landscape
# License:    MIT

dist/*
**/node_modules/*
!.eslintrc.js
!.huskyrc.js
!.remarkrc.js
